{  "@metadata": {    "comment": ["JSON file in order to configure the Gnikrap application",                "Contains the configuration to use while running it with relative folders" ]  },    "HttpPort": 80,  "WebContent": "/home/root/.gnikrap/WEB-CONTENT/",  "FakeEV3": false,  "ScriptsFolder": "/home/root/.gnikrap/userData/scripts",  "xKeyboardFolder": "/home/root/.gnikrap/userData/keyboards",  "BlocklyFolder": "/home/root/.gnikrap/userData/ev3blocks",  "DefaultLogLevel": "OFF",  "Version": "${project.version}"}