{  "@metadata": {    "comment": ["JSON file in order to configure the Gnikrap application",                "### ONLY FOR USING WITHIN ECLIPSE - REAL FILE IN SRC/MAIN/SCRIPT ###"]  },  "HttpPort": 8080,  "WebContent": "src/main/WEB-CONTENT/",  "FakeEV3": true,  "ScriptsFolder": "target/gnikrap-core-0.3.0-SNAPSHOT/bin/myScripts",  "xKeyboardFolder": "target/gnikrap-core-0.3.0-SNAPSHOT/bin/myKeyboards",  "DefaultLogLevel": "FINE"}