{
  "@metadata": {
    "comment": "Contains the 'absolute path' configuration that has to be used on the EV3"
  },
  
  "HttpPort": 80,
  "WebContent": "/home/gnikrap/WEB-CONTENT/",
  "FakeEV3": false,
  "ScriptsFolder": "/home/gnikrap/myScripts/",
  "xKeyboardFolder": "myKeyboards-CurrentlyNotused",
  "DefaultLogLevel": "OFF",
  "Version": "${project.version}"
}
