{  "@metadata": {    "comment": ["JSON file in order to configure the Gnikrap application",                "Contains the configuration to used while running it with relative folders" ]  },    "HttpPort": 80,  "WebContent": "WEB-CONTENT/",  "FakeEV3": false,  "ScriptsFolder": "userData/scripts",  "xKeyboardFolder": "userData/keyboards",  "DefaultLogLevel": "INFO",  "Version": "${project.version}"}